/* Set height of body and the document to 100% */
body, html {
  height: 1100;
  margin: 0;
  font-family: Arial;
}
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: initial;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: yellow;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#q1 {background-color: gold;}
#q2 {background-color: gold;}
#q3 {background-color: gold;}
#q4 {background-color: gold;}
.w {
  margin: 0;
}
.stage {
  animation: animateBg 10s linear infinite;
  background-image: linear-gradient(0deg,yellow,blue,);
  background-size: 100% 1100%;
  height: 20vh;
  width: 99,9vw;
}
@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

   .layer {
    position: absolute; /* Относительное позиционирование */
    left: 50px; /* Положение от левого края */
    top: 40px; /* Положение от верхнего края */
 font-family: "Lucida Console", "Courier New", monospace;
   
}
.f{
 position: absolute; /* Относительное позиционирование */
     bottom:120;
    left: 300px; /* Положение от левого края */
    border:20px solid ;
   border-color: green green green green transparent;
}
.it1{
     position: absolute;
  bottom:-10; 
     Font-size: '240px'.
    left: 90px;
    color:black;
 font-family: Bradley Hand, cursive;
    
}
.it2{
     position: absolute;
  bottom:-170; 
    margin-left: -190px;
    color:#997300;
 font-family: Bradley Hand, cursive;
    
}
.it3{
     position: absolute;
  bottom:-150; 
    left: 65px;
    color:black;
 font-family: Bradley Hand, cursive;
    
}
.itq1{
   position: absolute;
  bottom:-240; 
    left: 105px;
    color:#997300;
 font-family: Bradley Hand, cursive;  
}
.itq2{
      position: absolute;
  bottom:-280; 
    left: 405px;
    color:#997300;
 font-family: Bradley Hand, cursive;   
}
.it4{
     position: absolute;
  bottom:-320; 
    left: 175px;
    color:#997300;
 font-family: Bradley Hand, cursive;
    
}
.it5{
     position: absolute;
  bottom:-360; 
    left: 135px;
    color:#997300;
 font-family: Bradley Hand, cursive;
    
}
.line1{
  position: absolute;
  bottom:-120; 
    left: 50px;
    color:#997300;
   
}
.line2{
  position: absolute;
  bottom:-420; 
    left: 50px;
    color:#997300;
   
}
.r1{
     position: absolute;
 top:230;
    size:200;
    left: 835px;
    color:rgb(28 28 28 / 90%);
 font-family: Bradley Hand, cursive;
    
}
.r2{
     position: absolute;
 top:320; 
    left: 350px;
    color:#004d00;
 font-family: Bradley Hand, cursive;
    
}
.r3{
     position: absolute;
 top:360; 
    left: 300px;
    color:#004d00;
 font-family: Bradley Hand, cursive;
    
}
.r4{
     position: absolute;
 top:350; 
    left: 270px;
    color:#004d00;
 font-family: Bradley Hand, cursive;
    
}
.r5{
     position: absolute;
 top:550; 
    left:400px;
    color:#004d00;
 font-family: Bradley Hand, cursive;
    
}
.r6{
     position: absolute;
 top:650; 
    left: 320px;
    color:#004d00;
 font-family: Bradley Hand, cursive;
    
}
.r7{
     position: absolute;
 top:750; 
    left: 400px;
    color:#004d00;
 font-family: Bradley Hand, cursive;
    
}
.f2{
  position: absolute; /* Относительное позиционирование */
   margin-left :200;/* Положение от левого края */
    border:10px solid ;
   border-color: black black  transparent;
     top:600; 

}
.g1{
     position: absolute;
    left: 400px;
    color:black;
 font-family: Comic Sans MS, Comic Sans, cursive;
    
}
.g2{
     position: absolute;
     top:350; 
    left: 450px;
    color:black;
 font-family: Comic Sans MS, Comic Sans, cursive;
    
}
.g3{
     position: absolute;
     top:425; 
    left: 500px;
    color:black;
 font-family: Comic Sans MS, Comic Sans, cursive;
    
}
.g4{
     position: absolute;
     top:500; 
    left: 460px;
    color:black;
 font-family: Comic Sans MS, Comic Sans, cursive;
    
}
.g5{
     position: absolute;
     top:575; 
    left: 420px;
    color:black;
 font-family: Comic Sans MS, Comic Sans, cursive;
    
}
.k{
  position: absolute;
     top:750; 
    left: 450px;
 
}
.wq{
     position: absolute;
     top:450; 
    left: 500px;
   border:30px solid ;
   border-color: black  transparent;
}
.x{
      position: absolute;
    left: 500px;
    color:#004d00;
 font-family: Comic Sans MS, Comic Sans, cursive;  
}

.ffff1{
     position:absolute;

    margin-right: -10px;
    color:black;
 font-family: Bradley Hand, cursive; 
    
}
.ffff2{
     position:absolute;

    margin-right: -25px;
    color:red;
 font-family: Bradley Hand, cursive; 
}
.ffff3{
   
position:absolute;
    margin-right: -35px;
     color:black;
 font-family: Bradley Hand, cursive; 
}
.ffff4{
  
position:absolute;
    margin-right: -50px;
    color:red;
 font-family: Bradley Hand, cursive; 
}


* {box-sizing: border-box}
/* Set height of body and the document to 100% */
body, html {
 height: 1100;
 margin: 0;
 font-family: Arial;
}

/* Style tab links */
.tablink {
 background-color: rgb(27 127 204 / 80%);
 color: white;
 float: left;

    border-top-color: black;
    border-top-style: ridge;
    border-top-width: small;
    border-right-color: black;
    border-right-style: ridge;
    border-right-width: small;
    border-bottom-color: black;
    border-bottom-style: ridge;
    border-bottom-width: small;
    border-left-color: black;
    border-left-style: ridge;
    border-left-width: small;
  
  
    
    
 outline: none;
 cursor: pointer;
 padding: 14px 16px;
 font-size: 17px;
 width: 25%;
}

.tablink:hover {
 background-color: yellow;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
 color: white;
 display: none;
 padding: 100px 20px;
 height: 100%;
}

#q1 {background-color: #ffa000;}
#q2 {background-color: #ffa000;}
#q3 {background-color: #ffa000;}
#q4 {background-color: #ffa000;}
.w {
 margin: 0;
}
.stage {
 animation: animateBg 10s linear infinite;
 background-image: linear-gradient(0deg,#2196f3,#3f51b5,#2196f3,#3f51b5);
 background-size: 100% 1100%;
 height: 20vh;
 width: 99,9vw;
}
@keyframes animateBg {
 0% { background-position: 0% 0%; }
 100% { background-position: 0% 100%; }
}

  .layer {
   position: absolute; /* Относительное позиционирование */
   left: 50px; /* Положение от левого края */
   top: 40px; /* Положение от верхнего края */
font-family: "Lucida Console", "Courier New", monospace;

}
.f{
position: absolute; /* Относительное позиционирование */
     bottom:220;
   left: 300px; /* Положение от левого края */
   border:20px solid ;
  border-color: green green green green transparent;
}


.f{
  position: absolute; /* Относительное позиционирование */
    bottom:220;
   margin-left :200;/* Положение от левого края */
    border:10px solid ;
   border-color: black black black black transparent;
     top:350; 
}
.it1{
    position: absolute;
 bottom:50;

   left: 120px;
   color:red;
font-family: Bradley Hand, cursive;

}
.it2{
    position: absolute;
 bottom:-60;
   left: 270px;
   color:black;
font-family: Bradley Hand, cursive;

}
.it3{
    position: absolute;
 bottom:-140;
   left: 80px;
   color:black;
font-family: Bradley Hand, cursive;

}
.itq1{
  position: absolute;
 bottom:-220;
   left: 75px;
   color:black;
font-family: Bradley Hand, cursive;  
}
.itq2{
     position: absolute;
 bottom:-300;
   margin-left: -330px;
   color:black;
font-family: Bradley Hand, cursive;  
}
.it4{
    position: absolute;
 bottom:-320;
   left: 175px;
   color:black;
font-family: Bradley Hand, cursive;

}
.it5{
    position: absolute;
 bottom:-340;
   left: 75px;
   color:black;
font-family: Bradley Hand, cursive;

}
.line1{
 position: absolute;
 bottom:-120;
   margin-left: 30px;
   color:black;

}
.line2{
 position: absolute;
 bottom:-420;
   margin-left: 20px;
   color:black;

}
.r1{
    position: absolute;
top:210;
   size:290;
   left: 835px;
   color:black;
font-family: Bradley Hand, cursive;

}
.r2{
    position: absolute;
top:320;
   left: 350px;
   color:black;
font-family: Bradley Hand, cursive;

}
.r3{
    position: absolute;
top:360;
   left: 320px;
   color:black;
font-family: Bradley Hand, cursive;

}
.r4{
    position: absolute;
top:400;
   left: 270px;
   color:black;
font-family: Bradley Hand, cursive;

}
.r5{
    position: absolute;
top:430;
   left:320px;
   color:black;
font-family: Bradley Hand, cursive;

}
.r6{
    position: absolute;
top:500;
   left: 320px;
   color:black;
font-family: Bradley Hand, cursive;

}
.r7{
    position: absolute;
top:580;
   left: 320px;
   color:black;
font-family: Bradley Hand, cursive;

}
.f2{
 position: absolute; /* Относительное позиционирование */
   left: 400px; /* Положение от левого края */
   border:10px solid ;
  border-color: black  black black black  transparent;
    top:750;

}
.g1{
    position: absolute;
   left: 400px;
   color:black;
font-family: Comic Sans MS, Comic Sans, cursive;

}
.g2{
    position: absolute;
    top:350;
   left: 450px;
   color:black;
font-family: Comic Sans MS, Comic Sans, cursive;

}
.g3{
    position: absolute;
    top:450;
   left: 400px;
   color:black;
font-family: Comic Sans MS, Comic Sans, cursive;

}
.g4{
    position: absolute;
    top:500;
   left: 460px;
   color:black;
font-family: Comic Sans MS, Comic Sans, cursive;

}
.g5{
    position: absolute;
    top:650;
   left: 400px;
   color:black;
font-family: Comic Sans MS, Comic Sans, cursive;

}
.k{
 position: absolute;
    top:750;
   left: 450px;

}
.wq{
    position: absolute;
    top:450;
   left: 500px;
  border:20px solid ;
  border-color: black  transparent;
}
.x{
     position: absolute;
   left: 500px;
   color:black;
font-family: Comic Sans MS, Comic Sans, cursive;  
}

.ffff1{
    position:absolute;

   right: -395px;
   color:black;
font-family: Bradley Hand, cursive;

}
.ffff2{
    position:absolute;

   right: -615px;
   color:red;
font-family: Bradley Hand, cursive;
}
.ffff3{

position:absolute;
   right: -800px;
    color:black;
font-family: Bradley Hand, cursive;
}
.ffff4{

position:absolute;
   right: -900px;
   color:red;
font-family: Bradley Hand, cursive;
}


* {box-sizing: border-box}